.projects {
    // background-color: whitesmoke;
    background-color: darken(white, 15%);
}

.projects h2 {
    $clr-main: var(--clr-main, #DCAF68);
    color: darken($clr-main, 30%);
    // color: var(--clr-main, #DCAF68);
}

.item {
    position: relative;
    border: 0.2rem solid black;
}

.item:hover {
    border: none;
}

.item .thumb-img {
    display: block;
    width: 100%;
    height: 100%;
}

.item:hover .thumb-img {
    width: 100%;
    height: 100;
    -webkit-filter: blur(5px); /*Safari*/
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.item .overlay {
    position: absolute;
    bottom: 100%;
    left: 0%;
    right: 0%;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
    // width: 100%;
    height: 0%;
    transition: 0.5s ease;
}

.item:hover .overlay {
    bottom: 0;
    height: 100%;
    border: 0.2rem solid darken(red, 5%);
}

.text {
    white-space: nowrap;
    color: black;
    font-size: 1.1rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.a--project-link {
    $clr-main: var(--clr-main, #DCAF68);
    // color: darken($clr-main, 45%);
    color: darken(red, 20%);
    font-weight: bold;
    text-decoration: none;
}

.span-desc {
    display: block;
}
