.contact-header {
    font-family: 'Montserrat';
    font-weight: 900;
}

.contact .btn {
    color: initial;
    border: 0.1em solid black;
    border-radius: 0.5em;
}

.contact .social-icons {
    color: orangered;
    font-size: 1.13em;
}

.contact .pdf-icon {
    color: orangered;
    font-size: 1.13em;
}

.contact .btn:hover {
    background-color: greenyellow;
    border: 0.1em solid greenyellow;
    color: black;
    font-family: 'Skranji';
}

.contact-img {
    width: 100%;
    max-height: 40em;
    max-width: 50em;
    overflow-y: hidden;
    margin: auto;
}
