.contact {
    background-color: navajowhite;
    padding: 2em;
}

.contact-header {
    margin-top: 1.2em;
}

.contact .btn {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.25em;
    background-color: white;
    color: black;
    border: 0.1em solid black;
    border-radius: 0.33em;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
}

.contact .btn:hover {
    background-color: #00f2e7;
    border: 0.1em solid #00f2e7;
    color: white;
}

.contact .social-icons, .pdf-icon {
    color: black;
    font-size: 1.13em;
}

.contact-img {
    width: 100%;
    max-height: 300px;
    max-width: 400px;
    overflow-y: hidden;
    margin: auto;
}
