.home {
    background-color: #FFFFFF;
    padding: 50px;
}

.home .home-intro {
    padding: 30px 10px 10px 15px;
}

.home .social-icons {
    color: black;
    /*margin: 7px;*/
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 30px;
}

.home .social-icons:hover {
    color: #00f2e7;
    display: inline-block;
    font-size: 40px;
}

.home .resume-button {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 10px;*/
    padding: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.home .resume-button:hover {
    background-color: #00f2e7;
    border: 2px solid;
    border-color: #00f2e7;
    color: white;
}


