.home {
    background-color: navajowhite;
    padding: 2em;
}

.home .row {
    padding-top: 3em;
}

.home .fa-react {
    color: rgb(18, 186, 216);
    font-weight: 900;
}

.home .fa-html5 {
    color: orangered;
}

.home .fa-css3-alt {
    color: blue;
}

.home .typescript-icon {
    width: 1em;
    padding-bottom: 0.2em;
}

.home .social-icons {
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 2em;
    margin: 0.2em;
}

.home .social-icons:hover {
    color: #00f2e7;
    font-size: 2.2em;
}

.home .pdf-icon {
    font-size: 1.1em;
}

.home .resume-button {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.25em;
    background-color: white;
    color: black;
    border: 0.1em solid black;
    border-radius: 0.33em;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.home .resume-button:hover {
    background-color: #00f2e7;
    border-color: #00f2e7;
    color: white;
}

.home .img-sect {
    padding-top: 3em;
}

.home .home-img {
    width: 100%;
    border-radius: 20%;
    max-height: 350px;
    max-width: 300px;
    overflow-y: hidden;
}

