
.navbar {
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;

    padding-top: 0;
    padding-bottom: 0;

    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar-brand {
    font-size: 2em;
}

.navbar .navbar-brand:hover {
    color: aqua;
}

.navbar .navbar-nav li a:hover {
    color: aqua !important;
    background-color: transparent !important;
}

.navbar .navbar-nav li a:focus {
    color: aqua !important;
    background-color: transparent !important;
}

.navbar .navbar-toggler {
    background-color: dimgrey;
}

.navbar .navbar-toggler .burger-icon {
    color: aqua;
}