.profile {
    background-color: navajowhite;
    padding: 2em;   
}

/* .profile .profile-history h3 {
    font-family: 'Great Vibes';
    font-weight: 700;
    font-size: 2em;
}

.profile .profile-current h3 {
    font-family: 'Great Vibes';
    font-weight: 700;
    font-size: 2em;
} */

.profile-history .counter-spin {
    -webkit-animation: spin-counter 2s infinite linear;
    -moz-animation: spin-counter 2s infinite linear;
    -o-animation: spin-counter 2s infinite linear;
    animation: spin-counter 2s infinite linear;

    color: darkgoldenrod;
  }
  @-moz-keyframes spin-counter {
    0% {
      -moz-transform: rotate(359deg);
    }
    100% {
      -moz-transform: rotate(0deg);
    }
  }
  @-webkit-keyframes spin-counter {
    0% {
      -webkit-transform: rotate(359deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }
  @-o-keyframes spin-counter {
    0% {
      -o-transform: rotate(359deg);
    }
    100% {
      -o-transform: rotate(0deg);
    }
  }
  @-ms-keyframes spin-counter {
    0% {
      -ms-transform: rotate(359deg);
    }
    100% {
      -ms-transform: rotate(0deg);
    }
  }
  @keyframes spin-counter {
    0% {
      transform: rotate(359deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .profile-current .fa-spin {
      color: blueviolet;
  }