.navbar {
    // opacity: 0.5;
    margin: 0;
    padding: 0;
    z-index: 1050;
}

.navbar-brand {
    font-size: var(--font-size-header-brand, 2rem);
    font-family: var(--font-family-main, "Roboto");
    font-weight: var(--font-weight-900, 900);

    &:hover {
        color: var(--clr-main, #DCAF68) !important;
    }
    margin: 0;
    padding: 0 1em;
}

.nav-link {
    font-family: var(--font-family-main, "Roboto");
    font-weight: var(--font-weight-500, 500);
    &:hover {
        color: var(--clr-main, #DCAF68) !important;
    }
}

#navbar__support-content {
    padding: 0 0.5em;
}

.navbar__burger {
    padding: 0 1.5em;
}

.navbar-toggler {
    background-color: var(--clr-header-background, #696969);
}

.navbar__burger-icon {
    color: var(--clr-main, #DCAF68);
}

.navbar-nav--authenticated-avatar {
    width: 30px;
    // border-radius: 50%;
}

.navbar-nav--authenticated-dropdown-menu {
    background-color: #414346!important;
}
