#intro {
    background-color: white;
    padding: 2em 10%;
    padding: var(--padding-section);
}

#intro .row {
    padding-top: 3em;
}

#intro hr {
    border-color: black;
    width: 50%;
}

#intro p strong {
    color: rgb(67, 147, 179);
}

#intro h6 {
    color: rgb(50, 112, 136);
}

#intro .social-icons-sect {
    margin: 1em;
}

#intro .social-icons {
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 2em;
    margin: 0 0.5em 0 0.5em;
}

#intro .social-icons:hover {
    color: #DCAF68;
    font-size: 2.2em;
}

#intro .pdf-icon {
    font-size: 1.1em;
}

#intro .resume-button {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.25em;
    background-color: white;
    color: black;
    border: 0.1em solid black;
    border-radius: 0.33em;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#intro .resume-button:hover {
    background-color: #DCAF68;
    border-color: #DCAF68;
    color: white;
}

#intro .img-sect {
    overflow: hidden;
    margin: 0;
}

#intro .home-img {
    display: block;
    border-radius: 50%;
    width: 100%;
}

