#profile {
    background-color: whitesmoke;
    padding: 2em 10%;
    padding: var(--padding-section);
}

#profile .technical-skills {
    padding: 1.5em;
    /* border-right: 1px solid black; */
}

#profile .technical-skills h4 {
    color: rgb(50, 112, 136);
    text-align: left;
}

#profile .icons-sect {
    text-align: left;
    padding: 1em;
}

#profile [class^="devicon"] {
    margin: 0.1em;
    font-size: 1.5em;
    width: 1.5em;
}

#profile .profile-text {
    text-align: left;
}

#profile .fa-linkedin{
    font-size: 3em;
}
