.profile {
    // background-color: whitesmoke;
    background-color: darken(white, 15%);
}

.profile h2 {
    $clr-main: var(--clr-main, #DCAF68);
    color: darken($clr-main, 30%);
}

.technical-skills {
    padding: 1.5em;
    color: var(--clr-dark-blue, rgb(26, 91, 117));
}

.devicon {
    margin: 0.2em;
    width: 2.5rem;
}

.profile-text {
    text-align: left;
}

.profile-text a {
    text-decoration: none;
    font-weight: bold;
}

.a--university {
    color: var(--clr-dark-blue, rgb(26, 91, 117));
}

.a--let-me-know {
    color: darken(red, 20%);
}
