/*================================= App ========================================*/

.App {
    text-align: center;
}

.downArrow {
    background-color: aquamarine;
}

/*============================ NavigationBar ===================================*/

.NavigationBar {
    list-style-type: none;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    /*border: 1px solid #e7e7e7;*/
    background-color: #f1f1f1;
    z-index: 500;
}

.navLogo {
    animation: navLogoSpin infinite 20s linear;
    height: 70px;
}

@keyframes navLogoSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navItem {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 27px;
    float: right;
    text-decoration: none;
    text-align: center;
}

.navName {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    display: block;
    margin-left: 60px;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    float: left;
}

.navLink {
    display: block;
    color: #666666;
    text-align: center;
    padding: 27px 27px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.navLink:hover:not(.active) {
    background-color: cadetblue;
    color: yellow;
}

.navLink.active {
    color: white;
    background-color: orangered;
}

/*=============================== Welcome ======================================*/

.Welcome {
    display: flex;
    background-color: #FFFFFF;
    height: 80vh;
    padding-left: 75px;
    padding-right: 75px;
    align-items: center;
    justify-content: center;
    padding: 50px
}

.welcomeIntro {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.welcomeIntro strong {
    font-weight: 900;
}

.Welcome .socialIcons {
    color: black;
    margin: 10px;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.Welcome .socialIcons:hover {
    color: #00f2e7;
    display: inline-block;
}

.Welcome .resumeButton {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 3px;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Welcome .resumeButton:hover {
    background-color: #00f2e7;
    border: 2px solid;
    border-color: #00f2e7;
    color: white;
}

.Welcome .mainImg {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    padding: 20px;
}

/*=============================== Welcome ======================================*/
