/*================================= App ========================================*/
// :root {
//     --main-color: #DCAF68;
//     --navbar-background-color: #696969;

//     --section-font-family: "Roboto Slab";
//     --section-margin-top: 0em;
//     --section-font-weight: 700;

//     --line-height: 1.75em;
//     --letter-spacing: 0.02em;

//     --headers-font-family: "Roboto Slab";
//     --headers-font-weight: 700;

//     --headers-strong-font-family: "Roboto";
//     --headers-strong-font-weight: 900;

//     --body-font-family: "Roboto";
//     --body-font-weight: 300;

//     --body-strong-font-family: "Roboto";
//     --body-strong-font-weight: 500;

//     --link-font-family: "Roboto Slab";
//     --link-font-weight: 700;

//     --padding-section: 2em 10%;
//     --padding-navbar:  0    9%;

//     --font-size-navbar-brand: 2em;
// }

// .App {
//     text-align: center;
//     // background-image: url("../../assets/jpg/appBackground.jpg");
// }

// body h1, h2, h3, h4, h5, h6 {
// 	line-height: var(--line-height);
//     letter-spacing: var(--letter-spacing);
//     font-family: var(--headers-font-family);
//     font-weight: var(--headers-font-weight);
// }

// body h1 {
//     color: var(--main-color);
// }

// body h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
//     line-height: var(--line-height);
//     letter-spacing: var(--letter-spacing);
//     font-family: var(--headers-strong-font-family);
//     font-weight: var(--headers-strong-font-weight);
// }

// body p {
// 	line-height: var(--line-height);
//     letter-spacing: var(--letter-spacing);
//     font-family: var(--body-font-family);
//     font-weight: var(--body-font-weight);
// }

// body p strong {
// 	line-height: var(--line-height);
//     letter-spacing: var(--letter-spacing);
//     font-family: var(--body-strong-font-family);
//     font-weight: var(--body-strong-font-weight);
// }

// body #profile .header, #projects .header, #contact .header, #credit .header  {
//     color: var(--main-color);
//     font-family: var(--section-font-family);
//     font-weight: var(--section-font-weight);
//     margin-top: var(--section-margin-top);
// }

// body a {
//     color: var(--main-color);
//     font-family: var(--link-font-family);
//     font-weight: var(--link-font-weight);
// }

// body .btn {
//     $color: #DCAF68;
//     background-color: var(--main-color);
//     border-color: var(--main-color);
//     color: white;
//     margin: 5px;
//     &:hover {
//         background-color: darken($color, 10%);
//         border-color: lighten($color, 10%);
//         color: white;
//     }
//     &:focus {
//         outline: 0;
//         -webkit-box-shadow: 0 0 0 0.2rem darken($color, 20%);
//         box-shadow: 0 0 0 0.2rem darken($color, 20%);
//     }
// }

/*================================= App ========================================*/
:root {
    --clr-main: #DCAF68;
    --clr-header-background: #696969;
    --clr-black: rgba(black, 1);
    --clr-grey: rgba(black, 0.5);
    --clr-dark-blue:  rgb(26, 91, 117);

    --font-family-main: "Roboto";
    --font-family-highlight: "Roboto Slab";

    --font-weight-300: 300;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;

    --body-line-height: 1.75;
    --body-letter-spacing: 0.02;

    --font-size-header-brand: 2rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    position: relative;
}

html, body {
    height: 100%;
}

body {
    background-color: whitesmoke;
    // background-color: var(--clr-grey, rgba(black, 0.5));
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-family-main, "Roboto");
    font-weight: var(--font-weight-300, 300);
    line-height: var(--body-line-height, 1.75);
    letter-spacing: var(--body-letter-spacing, 0.02);
    color: var(--clr-black, rgba(black, 0.7));
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-highlight, "Roboto Slab");
    font-weight: var(--font-weight-700, 700);
}

.btn {
    $clr-main: var(--clr-main, #DCAF68);
    background-color: $clr-main;
    border-color: $clr-main;
    color: white;
    margin: 5px;
    &:hover {
        background-color: darken($clr-main, 10%);
        border-color: lighten($clr-main, 10%);
        color: white;
    }
    &:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem darken($clr-main, 20%);
        box-shadow: 0 0 0 0.2rem darken($clr-main, 20%);
    }
}

/* margin of every main container is the height of the navigation menu + 50px */
.container-main {
    margin: 4em auto;
    padding: 1em;
    width: 80%;
    max-width: 1140px;
}

.section + .section {
    margin: 4em auto;
    padding: 2em;
    // width: 80%;
    // max-width: 1140px;
}

.mid-highlight {
    font-family: var(--font-family-highlight, "Roboto Slab");
    font-weight: var(--font-weight-700, 700);
    font-size: 1.3rem;
}

.font-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline !important;
}

.text-upper {
    text-transform: uppercase;
}

a {
    cursor: pointer;
    &:hover, &:focus {
        color: var(--clr-main, #DCAF68);
        background-color: transparent;
    }
}
